[Desktop Entry]
Version=1.0
Type=Application
Name=SentinelFS
Comment=Secure Distributed File System
Exec=AppRun %F
Icon=sentinelfs
Categories=Utility;FileTools;Network;
Terminal=false
StartupWMClass=SentinelFS
Keywords=sync;file;p2p;distributed;secure;
MimeType=x-scheme-handler/sentinelfs;
